*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace , sans-serif;

}

body{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

h1{
    text-align: center;
    margin: 10px 0px 50px 0px;
}

.gameboard{
    display: flex;
    background-color: white;
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.cards{
    width: 30%;
    height: 45%;
    background-color: white;
    border : 1px solid white; 
    position: relative;
}


.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
}

.cards:active{
    transform: scale(.97);
    transition: transform .2s
}




.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

#gameoverModal, #nextLevel{
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    border: 1px solid #888 ;
    width: 80%;
    margin-top: 20%;
    text-align: center;
}

#instructionModal{
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    border: 1px solid #888 ;
    width: 80%;
    margin-top: 20%;
}


.btnContainer{
    display: flex;
}

#btnContainerTwo{
    display: flex;
    margin-bottom: 120px;
}

button{
    color:black;
    font-size: 10px;
    font-weight: bold;
    width: 80px;
    height: 30px;
    background-color: white;
    margin: 5px;
}


#levelTwoGameBoard{
    display: flex;
    /* display: flex; */
    /* border: 1px solid black; */
    background-color: white;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}


#cardsLevelTwo{
    width: 20%;
    height: 35%;
    background-color: white;
    border : 1px solid white; 
    position: relative;
}

.btnContainerTwo{
    display: flex;
}

#levelTwoBtn{
    color:black;
    font-size: 10px;
    font-weight: bold;
    width: 80px;
    height: 30px;
    background-color: white;
}

